<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}

		<link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">
		<link rel="stylesheet" media="print" href="css/print.css">
		<link rel="stylesheet" media="screen" href="css/screen.css">
		<link rel="icon" type="image/png" href="images/favicon.png">

		{% if jekyll.environment == 'production' and site.google_analytics_key != '' %}
			<script>
				window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
				ga('create', '{{ site.google_analytics_key }}', 'auto');
				ga('send', 'pageview');
			</script>
			<script async src='https://www.google-analytics.com/analytics.js'></script>
		{% endif %}
	</head>
	<body>
		<div class="cover" >
			<div class="wrap">
				<div class="book">
					<div class="front-cover" style="background-image: url({{ site.data.settings.cover_image }})">
						<div class="cover-content">
							<h1>{{ site.title }}</h1>
							<p class="author">By {{ site.author.name }}</p>
						</div>
					</div>
					<ul class="ruled_paper">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="back-cover"></div>
				</div>
				<div class="pdf-cover">
					<h1>{{ site.title }}</h1>
					<p class="author">By {{ site.author.name }}</p>
				</div>
			</div>
			<img src="{{ site.data.settings.cover_image }}" class="background">
		</div>

		<p class="wrap formats">
				<a {% if page.url == '{{ site.baseurl }}/' %}class="active"{% endif %} href="/">Chapter HTML</a>
			&#183;
				<a {% if page.url == '{{ site.baseurl }}/full.html' %}class="active"{% endif %} href="{{ site.baseurl }}/full.html">Book HTML</a>
			&#183;
				<a href="full.html#print-book">Print</a>
		</p>

		{{ content }}
		<a href="#toc" class="go-top">Back to top</a>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>
